/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');

:root{
    --primary: #77BEF0;
    --secondary: #FFCB61;
    --highlight: #FF894F;
    --accent: #EA5B6F;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

.invisible-a{
    text-decoration: none;
    color: inherit;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background: white;
    flex-wrap: wrap;
}

.site-navbar{
    display: flex;
    align-items: center;
    padding: 10px 30px;
    background: var(--highlight);
    color: black;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 20px 80px;
}

.site-navbar a{
    text-decoration: none;
    color: black;
}

.logo {
    height: 40px;
}

.brand-name {
    font-size: 3em;
    color: var(--accent);
    margin-left: 10px;
    font-family: "Sansita Swashed", system-ui;
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,0.9) inset;
}

.search-box {
    position: relative;
    width: 200px;
}

.search-box input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-indicator {
    position: absolute;
    top: 0;
    right: -10px;
    width: 30px;
    height: 100%;
    padding: 0px 8px;
    background-color: var(--accent);
    color: white;
    text-align: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-indicator:hover{
    cursor: pointer;
}

.auth-link {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 40px 30px;
    width: 80%;
    margin: auto;
}

.featured-event-placeholder {
    height: 100%;
    background: #ddd;
    margin: 20px 0;
    position: relative;
}

.featured-event-placeholder img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.event-card {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
}

.event-image-placeholder {
    width: auto;
    height: 100%;
    background: #ccc;
    border-radius: 8px;
    margin-right: 20px;
}

.heading{
    font-size: 2em;
    font-weight: bold;
}

.description{
    color: #222222;
}

.event-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    gap: 40px;
}

.event-details span{
    padding-bottom: 4px;
}

.join-btn {
    background: var(--accent);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

.join-btn:hover{
    filter: brightness(80%);
}

footer{
    text-align: center;
    padding: 40px;
    margin-top: 40px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    color: #444444;
    background: white;
}

footer a{
    color: var(--highlight);
}
